SECRET_KEY=4c6bcdd4df1aa1650f0a952c7266a9513f5feb0cd1ba94879f0ffe729791317f
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json
PROJECT_ID=your-firebase-project-id
FCM_SERVER_KEY=your-fcm-server-key
